<div class="footer">
    <hr class="line">
    <div class="social-links">
        <!-- Facebook -->
        <a href="https://www.facebook.com/daniellopes04" class="link" target="_blank">
            <i class="fa-brands fa-facebook"></i>    
        </a>
        <!-- Instagram -->
        <a href="https://www.instagram.com/daniellopes04/" class="link" target="_blank">
            <i class="fa-brands fa-instagram"></i>    
        </a>
        <!-- Twitter -->
        <a href="https://twitter.com/daniellopes04" class="link" target="_blank">
            <i class="fa-brands fa-twitter"></i>    
        </a>
        <!-- Medium -->
        <a href="https://medium.com/@daniellopes04" class="link" target="_blank">
            <i class="fa-brands fa-medium"></i>    
        </a>
        <!-- Github -->
        <a href="https://github.com/daniellopes04" class="link" target="_blank">
            <i class="fa-brands fa-github"></i>   
        </a>
        <!-- Linkedin -->
        <a href="https://www.linkedin.com/in/daniellopes04/" class="link" target="_blank">
            <i class="fa-brands fa-linkedin"></i>    
        </a>  
    </div>
    <p class="copyright">
        Daniel de Sousa <br>
        Todos os direitos reservados.
    </p>
</div>