<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <script src="/assets/js/main.js"></script>
    <script src="https://kit.fontawesome.com/aa4d2cb7d4.js" crossorigin="anonymous"></script>
    {% feed_meta %}
    {% seo %}
  </head>
  <body>
    {% if page.url != '/' %}
      {% include navigation.html %}
    {% endif %}

    {% include header.html %}

    <div class="content">
      {{ content }}
    </div>
    
    {% include footer.html %}
  </body>
</html>