<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <title>Daniel de Sousa - {{ page.title }}</title>
    <link rel="icon" type="image/x-icon" href="/assets/images/favicon.ico">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <script src="/assets/js/main.js"></script>
    <script src="https://kit.fontawesome.com/aa4d2cb7d4.js" crossorigin="anonymous"></script>
    {% feed_meta %}
    {% seo %}
  </head>
  <body {% if page.url != '/' %} class="body-container" {% endif %}>
    {% if page.url != '/' %}
      {% include navigation.html %}
    {% endif %}

    {% include header.html %}

    <div 
      {% if page.url contains 'projects' %} 
        class="fade-in content center" 
      {% else %} 
        class="fade-in content" 
      {% endif %}
    >
      {{ content }}
    </div> 
    
    {% include footer.html %}
  </body>
</html>